
table{
    border-spacing: 2px;
    border: 1px solid black;
}

td , th {
    border: 1px solid black;
    padding: 5px;
}
table#th01 {
    border-spacing: 10px; 
    width: 100%;
    background-color: white;
}